<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css"


 
</head>

<body style="text-align:center;">

    <h1>TodoList</h1>

    <form action="/newtodo" method="post">
        <label for="nameInput">Todo</label>
        <input id="nameInput" type="text" name="task" placeholder="Add a Todo" required> <br>
        <button type="submit">Add Todo</button>
    </form>

    <div class="todos">

        <li style = "list-style: none">
        {{#todos}} 
            <b>{{#complete}}</b>
            <form action="/complete/{{task}}" method="POST">
                <button type="submit">Done</button>
            </form>  
            </div>   
            <div class = "compl">
             {{task}}
             Task has been completed 
            {{/complete}}

            {{^complete}}
            </div>
            <form action="/complete/{{task}}" method="POST">
            {{task}} 
        //  <button type="submit">Done</button>
            </form>   
            
            {{/complete}}

        {{/todos}}
</li>
        </div>

    
</body>
<!-- Include all compiled plugins (below), or include individual files as needed -->
</html>