<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body style="text-align:center;">

    <h1>TodoList</h1>

    <form action="/newtodo" method="post">
        <label for="nameInput">Todo</label>
        <input id="nameInput" type="text" name="task" placeholder="Add a Todo" required> <br>
        <button type="submit">Add Todo</button>
    </form>

    <div class="todos">

        {{#todos}} 
        <li>
            {{#complete}}
            <input type="checkbox">          
    {{task}}
            {{/complete}}
            {{^complete}}
            {{task}} 
            {{/complete}}

</li>
        {{/todos}}

    </div>
</body>

</html>